[package]
name = "tedge_actors"
description = "Actor-based thin-edge components"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[features]
# No features on by default
default = []
test-helpers = []

[dependencies]
async-trait = { workspace = true }
futures = { workspace = true }
log = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, default_features = false, features = [
    "sync",
    "rt",
    "macros",
    "time"
] }

[dev-dependencies]
env_logger = { workspace = true } # TODO: remove me
tokio = { workspace = true, default_features = false, features = [
    "rt-multi-thread",
] }

[package.metadata.docs.rs]
rustdoc-args = ["--test"]
