[package]
name = "tedge_actors"
description = "Actor-based thin-edge components"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[features]
# No features on by default
default = []
test-helpers = []

[dependencies]
async-trait = "0.1"
futures = { version = "0.3" }
log = "0.4"
thiserror = "1.0"
tokio = { version = "1.23", default_features = false, features = [
    "sync",
    "rt",
    "macros",
    "time"
] }

[dev-dependencies]
env_logger = "0.10" # TODO: remove me
tokio = { version = "1.23", default_features = false, features = [
    "rt-multi-thread",
] }

[package.metadata.docs.rs]
rustdoc-args = ["--test"]
