operation = "config_update"
on_error = "failed"

[init]
action = "proceed"
on_success = "executing"

[executing]
action = "proceed"
on_success = "download"

[download]
action = "download"
on_success = "prepare"

[prepare]
action = "builtin:config_update:prepare"
input.setFrom = "${.payload.downloadedPath}"
on_success = "set"

[set]
action = "builtin:config_update:set"
input.setFrom = "${.payload.downloadedPath}"
on_success = "apply"

[apply]
action = "builtin:config_update:apply"
on_success = "verify"

[verify]
action = "builtin:config_update:verify"
on_success = "finalize"

[finalize]
action = "builtin:config_update:finalize"
on_success = "successful"

[rollback]
action = "builtin:config_update:rollback"
on_success = "failed"

[successful]
action = "cleanup"

[failed]
action = "cleanup"
