# location: /etc/systemd/system/
[Unit]
Description = tedge-mapper is required to convert open json measurements to connectivity provider format.
After       = syslog.target network.target

[Service]
ExecStart   = /usr/bin/tedge-mapper
KillSignal=SIGINT
KillMode=process

User=tedge
ExecReload=kill -TERM `cat /var/run/tedge.pid`
Restart=on-failure
RestartPreventExitStatus=255
PIDFile     = /var/run/tedge-mapper.pid

[Install]
WantedBy=multi-user.target
