[workspace]
members = [
    "crates/common/*",
    "crates/core/*",
    "crates/tests/*",
    "plugins/c8y_configuration_plugin",
    "plugins/c8y_log_plugin",
    "plugins/tedge_apt_plugin",
    "plugins/tedge_dummy_plugin",
    "plugins/tedge_apama_plugin",
    "tests/mqtt-record"
]
resolver = "2"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = 'abort'
