[workspace]

members = [
    "common/certificate",
    "common/clock",
    "common/flockfile",
    "common/json_writer",
    "common/mqtt_client",
    "common/tedge_users",
    "mapper/cumulocity/c8y_translator_lib",
    "mapper/tedge_mapper",
    "mapper/thin_edge_json",
    "sm/agent",
    "sm/plugins/tedge_apt_plugin",
    "tedge_config",
    "tedge",
]

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = 'abort'
