[workspace]
members = [
    "crates/bin/*",
    "crates/common/*",
    "crates/core/*",
    "crates/extensions/*",
    "crates/tests/*",
    "plugins/c8y_configuration_plugin",
    "plugins/c8y_firmware_plugin",
    "plugins/c8y_log_plugin",
    "plugins/c8y_remote_access_plugin",
    "plugins/tedge_apt_plugin",
    "plugins/tedge_dummy_plugin",
]
resolver = "2"

[workspace.package]
version = "0.11.0"
authors = ["thin-edge.io team <info@thin-edge.io>"]
edition = "2021"
rust-version = "1.65"
license = "Apache-2.0"
homepage = "https://thin-edge.io"
repository = "https://github.com/thin-edge/thin-edge.io"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = "symbols"
