[Unit]
Description=Thin-edge device configuration management for Cumulocity
After=syslog.target network.target mosquitto.service

[Service]
ExecStart=/usr/bin/c8y-configuration-plugin
Restart=on-failure
RestartPreventExitStatus=255
RestartSec=5

[Install]
WantedBy=multi-user.target
