[Unit]
Description=Thin-edge logfile retriever for Cumulocity
After=syslog.target network.target mosquitto.service

[Service]
User=root
ExecStart=/usr/bin/c8y-log-plugin
Restart=on-failure
RestartPreventExitStatus=255
RestartSec=5

[Install]
WantedBy=multi-user.target
