[Unit]
Description=tedge-mapper-az checks Thin Edge JSON measurements and forwards to Azure IoT Hub.
After=syslog.target network.target mosquitto.service

[Service]
User=tedge-mapper
ExecStart=/usr/bin/tedge_mapper az
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
