[Unit]
Description=thin-edge.io certificate renewer for c8y (profile=%i)
After=network-online.target
StartLimitIntervalSec=0
PartOf=tedge-cert-renewer-c8y.target

[Service]
Type=oneshot
User=root

Environment=RENEW_WITH_CA=c8y

; Only run service is if the certificate needs renewal
ExecCondition=/usr/bin/tedge cert needs-renewal c8y --profile %i

; Run renewal
ExecStartPre=/usr/bin/tedge cert renew c8y --ca ${RENEW_WITH_CA} --profile %i

; Reconnect
ExecStart=/usr/bin/tedge reconnect c8y --profile %i

; Cleanup
ExecStopPost=sh -c 'rm -f "$(tedge config get c8y.device.cert_path --profile %i).new"'

[Install]
WantedBy=multi-user.target
