[Unit]
Description=tedge-mapper-az converts Thin Edge JSON measurements to Thin Edge JSON for Azure format.
After=syslog.target network.target mosquitto.service

[Service]
User=tedge-mapper
ExecStart=/usr/bin/tedge_mapper az
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
