[Unit]
Description=tedge-dm-agent collects device monitoring measurements and converts them to connectivity provider format.
After=syslog.target network.target mosquitto.service

[Service]
User=tedge-dm-agent
ExecStart=/usr/bin/tedge_dm_agent
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
