[Unit]
Description=tedge-watchdog: Checks the health of all thin-edge.io services
After=syslog.target network.target mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=notify
ExecStart=/usr/bin/tedge_watchdog
Restart=always
WatchdogSec=30

[Install]
WantedBy=multi-user.target
