# location: /etc/systemd/system/
[Unit]
Description = Template service to run thin-edge

# We need netowrk and syslog to be up before we can start our daemon.
After       = syslog.target network.target

[Service]
# make sure the shell script is executable
ExecStart   = /usr/bin/tedge
KillSignal=SIGINT
KillMode=process

# Provide use unless execution by root required.
User=tedge

# This is some quite nice feature of systemd but it will require us to implement signal handling in thin-edge binary
ExecReload=kill -TERM `cat /var/run/tedge.pid`

# In case if it gets stopped, restart it immediately
Restart=on-failure
RestartPreventExitStatus=255

# With notify Type, service manager will be notified when the starting up has finished
Type        = notify
# Since Type is notify, notify only service updates sent from the main process of the service
NotifyAccess=main

# systemd gets to read the PID of daemon's main process see ExecStop and ExecReload
PIDFile     = /var/run/tedge.pid

[Install]
# multi-user.target corresponds to run level 3 roughly meaning wanted by system start
WantedBy=multi-user.target
