[Unit]
Description=tedge-mapper converts thin edge json measurements to connectivity provider format.
After=syslog.target network.target mosquitto.service

[Service]
User=tedge-mapper
ExecStart=/usr/bin/tedge_mapper c8y
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
