[Unit]
Description=tedge-mapper-collectd converts Thin Edge JSON measurements to Cumulocity JSON format.
After=syslog.target network.target mosquitto.service

[Service]
User=tedge
ExecStart=/usr/bin/tedge-mapper collectd
Restart=on-failure
RestartPreventExitStatus=255
RestartSec=5

[Install]
WantedBy=multi-user.target
