[Unit]
Description=tedge-agent is a thin-edge.io component to support operations.
After=syslog.target network.target mosquitto.service

[Service]
User=tedge
RuntimeDirectory=tedge-agent
ExecStart=/usr/bin/tedge-agent
Restart=on-failure
RestartPreventExitStatus=255
RestartSec=5

[Install]
WantedBy=multi-user.target
