[Unit]
Description=tedge-monitor
After=syslog.target network.target mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=notify
ExecStart=/usr/bin/tedge_monitor
Restart=on-failure

[Install]
WantedBy=multi-user.target
