[package]
name = "tedge_timer_ext"
description = "thin-edge extension adding timers"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
async-trait = { workspace = true }
tedge_actors = { workspace = true }
tokio = { workspace = true, default_features = false, features = ["time"] }

[lints]
workspace = true
