[package]
name = "tedge_flows"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
camino = { workspace = true, features = ["serde1"] }
futures = { workspace = true }
humantime = { workspace = true }
rquickjs = { git = "https://github.com/thin-edge/rquickjs", rev = "7508f0c3c134352f8cd64a4c33cc0c063f3e2ab0", default-features = false, features = [
    # Enabling bindgen requires additional build tools, such as libclang and libc6-dev.
    # Using pre-generated bindings avoids these dependencies.
    # To enable this feature, please refer to: https://github.com/thin-edge/thin-edge.io/pull/3896
    #"bindgen",
    "futures",
    "macro",
    "parallel",
] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
tedge_actors = { workspace = true }
tedge_file_system_ext = { workspace = true }
tedge_mqtt_ext = { workspace = true }
tedge_watch_ext = { workspace = true }
thiserror = { workspace = true }
time = { workspace = true }
tokio = { workspace = true, features = ["fs", "macros", "time", "sync"] }
toml = { workspace = true, features = ["parse"] }
tracing = { workspace = true }

[dev-dependencies]
tedge_mqtt_ext = { workspace = true, features = ["test-helpers"] }
tempfile = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[lints]
workspace = true
