[Unit]
Description=Dependent service
After=mosquitto.service

[Service]
EnvironmentFile=-/etc/mosquitto-logger/env
ExecStart=/usr/bin/mqtt-logger
Restart=always
RestartSec=3
KillMode=control-group
TimeoutStopSec=10s

[Install]
WantedBy = multi-user.target
