[package]
name = "tedge_mapper"
version = "0.7.2"
authors = ["thin-edge.io team <info@thin-edge.io>"]
edition = "2021"
rust-version = "1.58.1"
license = "Apache-2.0"
description = "tedge_mapper is the mapper that translates thin-edge.io data model to c8y/az data model."

[package.metadata.deb]
pre-depends = "tedge"
maintainer-scripts = "../../../configuration/debian/tedge_mapper"
assets = [
    ["../../../configuration/init/systemd/tedge-mapper-az.service", "/lib/systemd/system/tedge-mapper-az.service", "644"],
    ["../../../configuration/init/systemd/tedge-mapper-c8y.service", "/lib/systemd/system/tedge-mapper-c8y.service", "644"],
    ["../../../configuration/init/systemd/tedge-mapper-collectd.service", "/lib/systemd/system/tedge-mapper-collectd.service", "644"],
    ["../../../configuration/contrib/collectd/collectd.conf", "/etc/tedge/contrib/collectd/", "644"],
    ["target/release/tedge_mapper", "/usr/bin/tedge_mapper", "755"],
]

[package.metadata.deb.systemd-units]
unit-scripts = "../../../configuration/init/systemd"
enable = false
start = false
stop-on-upgrade = false

[dependencies]
agent_interface = { path = "../agent_interface"}
anyhow = "1.0"
async-trait = "0.1"
batcher = { path = "../../common/batcher" }
c8y_api = { path = "../c8y_api" }
c8y_smartrest = { path = "../c8y_smartrest" }
c8y_translator = { path = "../c8y_translator" }
clock = { path = "../../common/clock" }
csv = "1.1"
download = { path = "../../common/download" }
flockfile = { path = "../../common/flockfile" }
futures = "0.3"
inotify = "0.10.0"
logged_command = { path = "../../common/logged_command" }
mockall = "0.11"
mqtt_channel = { path = "../../common/mqtt_channel" }
plugin_sm = { path = "../plugin_sm" }
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
clap = { version = "3.0", features = ["cargo", "derive"] }
tedge_config = { path = "../../common/tedge_config" }
tedge_users = { path = "../../common/tedge_users" }
tedge_utils = { path = "../../common/tedge_utils", features = ["logging"] }
thin_edge_json = { path = "../thin_edge_json" }
thiserror = "1.0"
time = "0.3"
tokio = { version = "1.8", features = ["process", "rt", "rt-multi-thread", "sync", "time"] }
toml = "0.5"
tracing = { version = "0.1", features = ["attributes", "log"] }

[dev-dependencies]
assert_matches = "1.5"
assert-json-diff = "2.0"
serde = "1.0"
mockito = "0.31"
mqtt_tests = { path = "../../tests/mqtt_tests" }
serde_json = "1.0"
serial_test = "0.6"
tedge_test_utils = { path = "../../tests/tedge_test_utils" }
test-case = "2.0"
time = { version = "0.3", features = ["macros"] }
tokio-test = "0.4"

[features]
integration-test = []
