[package]
name = "tedge-mapper"
description = "tedge-mapper is the mapper that translates thin-edge.io data model to c8y/az data model."
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[package.metadata.deb]
pre-depends = "tedge"
replaces = "tedge_mapper"
conflicts = "tedge_mapper (<= 0.8.1)"
breaks = "tedge_mapper (<= 0.8.1)"
provides = "tedge_mapper"
maintainer-scripts = "../../../configuration/debian/tedge-mapper"
assets = [
    [
        "../../../configuration/init/systemd/tedge-mapper-aws.service",
        "/lib/systemd/system/tedge-mapper-aws.service",
        "644"
    ],
    [
        "../../../configuration/init/systemd/tedge-mapper-az.service",
        "/lib/systemd/system/tedge-mapper-az.service",
        "644",
    ],
    [
        "../../../configuration/init/systemd/tedge-mapper-c8y.service",
        "/lib/systemd/system/tedge-mapper-c8y.service",
        "644",
    ],
    [
        "../../../configuration/init/systemd/tedge-mapper-collectd.service",
        "/lib/systemd/system/tedge-mapper-collectd.service",
        "644",
    ],
    [
        "../../../configuration/contrib/collectd/collectd.conf",
        "/etc/tedge/contrib/collectd/",
        "644",
    ],
    [
        "target/release/tedge-mapper",
        "/usr/bin/tedge-mapper",
        "755",
    ],
]

# Required for DEBHELPER
[package.metadata.deb.systemd-units]
enable = false
start = false
stop-on-upgrade = false

[dependencies]
anyhow = "1.0"
assert_cmd = "2.0"
async-trait = "0.1"
aws_mapper_ext = { path = "../../extensions/aws_mapper_ext" }
az_mapper_ext = { path = "../../extensions/az_mapper_ext" }
batcher = { path = "../../common/batcher" }
c8y_api = { path = "../c8y_api" }
clap = { version = "3.2", features = ["cargo", "derive"] }
clock = { path = "../../common/clock" }
csv = "1.1"
download = { path = "../../common/download" }
flockfile = { path = "../../common/flockfile" }
futures = "0.3"
json-writer = { path = "../../common/json_writer" }
logged_command = { path = "../../common/logged_command" }
mockall = "0.11"
mqtt_channel = { path = "../../common/mqtt_channel" }
plugin_sm = { path = "../plugin_sm" }
reqwest = { version = "0.11", default-features = false, features = [
    "json",
    "rustls-tls",
] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tedge_api = { path = "../tedge_api" }
tedge_config = { path = "../../common/tedge_config" }
tedge_mapper_core =  { path = "../../extensions/tedge_mapper_core" }
tedge_utils = { path = "../../common/tedge_utils", features = [
    "logging",
    "fs-notify",
] }
thiserror = "1.0"
time = "0.3"
tokio = { version = "1.23", features = [
    "process",
    "rt",
    "rt-multi-thread",
    "sync",
    "time",
] }
toml = "0.5"
tracing = { version = "0.1", features = ["attributes", "log"] }

[dev-dependencies]
assert-json-diff = "2.0"
assert_matches = "1.5"
mockito = "0.31"
mqtt_tests = { path = "../../tests/mqtt_tests" }
proptest = "1.0"
rand = "0.8"
serde = "1.0"
serde_json = "1.0"
serial_test = "0.8"
tedge_test_utils = { path = "../../tests/tedge_test_utils" }
test-case = "2.2"
time = { version = "0.3", features = ["macros"] }
tokio-test = "0.4"

[features]
integration-test = []
