paho-mqtt~=1.6.1
python-dotenv~=1.2.2
robotframework~=7.4.1
robotframework-c8y @ git+https://github.com/thin-edge/robotframework-c8y.git@0.51.1
robotframework-aws @ git+https://github.com/thin-edge/robotframework-aws.git@0.0.12
robotframework-debuglibrary~=2.5.0
robotframework-jsonlibrary~=0.5
robotframework-pabot~=5.2.2
robotframework-retryfailed~=0.2.0