# ---------------------------------------
# Testing
# ---------------------------------------

#
# Python
#
# Prevent bug when running on a raspberry pi
PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring

#
# Robot Framework
#
#ROBOT_OPTIONS="--outputdir /workspaces/thin-edge.io/tests/RobotFramework/output"

#
# Cumulocity IoT
#
C8Y_BASEURL=
C8Y_USER=
C8Y_PASSWORD=

#
# AWS IoT
#
AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=

# CA Certificate (key/cert) to use to create device certificates
# These values will be picked up by the bootstrap.sh and used if present
# The following environment variables expect the key/cert contents to be
# base64 encoded, so you can just run `cat ca.key | base64` on the key/cert
# and set the following env variables with the output:
# CA_KEY="{base64_encoded_key}"
# CA_PUB="{base64_encoded_public_certificate}"

#
# GitHub Settings - Required if using some GitHub related API (though requires the `gh` command to be installed)
# E.g. "Download From GitHub"
#
GH_TOKEN=

#
# SSH - Device Target
#
SSH_CONFIG_HOSTNAME=
SSH_CONFIG_USERNAME=
SSH_CONFIG_PASSWORD=

# Docker - statis /etc/hosts entries
# Custom /etc/hosts entries to reduce test failures due to dns lookup issues inside container
DEVICELIBRARY_HOST_C8YURL="example.mydomain.com=1.2.3.4"
