# ---------------------------------------
# Testing
# ---------------------------------------

#
# Python
#
# Prevent bug when running on a raspberry pi
PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring

#
# Robot Framework
#
#ROBOT_OPTIONS="--outputdir /workspaces/thin-edge.io/tests/RobotFramework/output"

#
# Cumulocity IoT
#
C8Y_BASEURL=
C8Y_USER=
C8Y_TENANT=
C8Y_PASSWORD=

#
# GitHub Settings - Required if using some GitHub related API (though requires the `gh` command to be installed)
# E.g. "Download From GitHub"
#
GH_TOKEN=

#
# SSH - Device Target
#
SSH_CONFIG_HOSTNAME=
SSH_CONFIG_USERNAME=
SSH_CONFIG_PASSWORD=

# Docker - statis /etc/hosts entries
# Custom /etc/hosts entries to reduce test failures due to dns lookup issues inside container
DEVICELIBRARY_HOST_C8YURL="example.mydomain.com=1.2.3.4"
