[package]
name = "c8y_translator_lib"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4"
json = "0.12"
thiserror = "1.0"
tedge_json = {path = "../../tedge_json"}

[dev-dependencies]
pretty_assertions = "0.6"
proptest = "0.10"

[features]
# use: #[cfg(feature="integration-test")]
integration-test = []
