[package]
name = "c8y_translator_lib"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.19"
json = "0.12.4"
thiserror = "1.0.23"

[dev-dependencies]
pretty_assertions = "0.6.1"
proptest = "0.10.1"

[features]
# use: #[cfg(feature="integrationtest")]
integrationtest = []
