[book]
title = "thin-edge.io docs"
authors = []
language = "en"
multilingual = false
src = "src"

[output.html]
additional-js = ["mermaid.min.js", "mermaid-init.js"]
additional-css = ["././mdbook-admonish.css"]

[output.html.fold]
    enable = true

[output.linkcheck]
# Should we check links on the internet? Enabling this option adds a
# non-negligible performance impact
#follow-web-links = true

# Are we allowed to link to files outside of the book's root directory? This
# may help prevent linking to sensitive files (e.g. "../../../../etc/shadow")
traverse-parent-directories = true

# How should warnings be treated?
#
# - "warn" will emit warning messages
# - "error" treats all warnings as errors, failing the linkcheck
# - "ignore" will ignore warnings, suppressing diagnostic messages and allowing
#   the linkcheck to continuing
warning-policy = "warn"

[preprocessor]

[preprocessor.mermaid]
command = "mdbook-mermaid"

[preprocessor.admonish]
command = "mdbook-admonish"
assets_version = "2.0.0" # do not edit: managed by `mdbook-admonish install`

#exclude = [ 'README.md' ]
