name: build-workflow

on:
  push:
    branches: [ main ]
    tags:
      - "*"

  workflow_dispatch:
    inputs:
      disable_cache:
        description: Disable rust caching
        type: boolean
        required: false
        default: false

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:
  build:
    name: Build and publish for ${{ matrix.job.target }}
    runs-on: Ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        job:
          - { target: x86_64-unknown-linux-musl,      repo: tedge-main,          component: main, cache: true }
          - { target: aarch64-unknown-linux-musl,     repo: tedge-main,          component: main, cache: true }
          # Keep arm-unknown-linux-gnueabihf in separate repo due to armhf conflict between raspbian and debian
          - { target: arm-unknown-linux-musleabihf,   repo: tedge-main-armv6,    component: main, cache: true }
          - { target: armv7-unknown-linux-musleabihf, repo: tedge-main,          component: main, cache: true }

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Enable toolchain via github action
        uses: dtolnay/rust-toolchain@1.64.0
        with:
          targets: ${{ matrix.job.target }}

      - name: Enable cache
        if: ${{ matrix.job.cache && !inputs.disable_cache }}
        # https://github.com/marketplace/actions/rust-cache
        uses: Swatinem/rust-cache@v2

      - name: Build for ${{ matrix.job.target }}
        run: bash -x ./ci/build_scripts/build.sh ${{ matrix.job.target }}

      - name: Upload debian packages as zip
        # https://github.com/marketplace/actions/upload-a-build-artifact
        uses: actions/upload-artifact@v3
        with:
          name: debian-packages-${{ matrix.job.target }}
          path: target/${{ matrix.job.target }}/debian/*.deb

      - name: Publish debian packages
        env:
          PUBLISH_OWNER: ${{ secrets.PUBLISH_OWNER }}
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
        run: |
          VERSION=$(./ci/build_scripts/build.sh --version | tail -1)
          ARCH=$(echo "${{ matrix.job.target }}" | cut -d- -f1)
          bash -x \
            ./ci/build_scripts/publish_debian.sh \
            --path "target/${{ matrix.job.target }}/debian/" \
            --repo "${{ matrix.job.repo }}" \
            --component "${{ matrix.job.component }}"
