name: commit-workflow-optional

on:
  push:
    branches: [ main, continuous_integration ]
  workflow_dispatch:
    branches: [ main, continuous_integration ]
  pull_request:
    branches: [ main, continuous_integration ]

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-tarpaulin:
    name: Run cargo tarpaulin
    runs-on: Ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install rust v1.58.1
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.58.1
          override: true

      - name: Enable cache
        # https://github.com/marketplace/actions/rust-cache
        uses: Swatinem/rust-cache@v1

      - name: install libssl
        run: sudo apt install libssl-dev

      - name: Cargo install tarpaulin
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: install
          args: cargo-tarpaulin

      - name: Cargo tarpaulin
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: tarpaulin
          args: --skip-clean --avoid-cfg-tarpaulin -v --out Xml

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v1
        with:
          token: ${{secrets.CODECOV_TOKEN}}

  cargo-audit:
    name: Run cargo audit
    runs-on: Ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cargo audit
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: audit

  cargo-outdated:
    name: Run cargo outdated
    runs-on: Ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Enable cache
        # https://github.com/marketplace/actions/rust-cache
        uses: Swatinem/rust-cache@v1

      - name: Cargo outdated --version
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: outdated
          args: --version

      - name: Cargo outdated
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: outdated

### Disable cargo-tarpaulin as some tests failed only in this step
#  cargo-tarpaulin:
#    name: Run cargo tarpaulin
#    runs-on: Ubuntu-20.04
#
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#
#      - name: Install rust v1.58.1
#        uses: actions-rs/toolchain@v1
#        with:
#          toolchain: 1.58.1
#          override: true
#
#      - name: Enable cache
#        # https://github.com/marketplace/actions/rust-cache
#        uses: Swatinem/rust-cache@v1
#
#      - name: install libssl
#        run: sudo apt install libssl-dev
#
#      - name: Cargo install tarpaulin
#        uses: actions-rs/cargo@v1
#        # https://github.com/marketplace/actions/rust-cargo
#        with:
#          command: install
#          args: cargo-tarpaulin
#
#      - name: Cargo tarpaulin
#        uses: actions-rs/cargo@v1
#        # https://github.com/marketplace/actions/rust-cargo
#        with:
#          command: tarpaulin
#          args: --skip-clean --avoid-cfg-tarpaulin -v --out Xml
#
#      - name: Upload to codecov.io
#        uses: codecov/codecov-action@v1
#        with:
#          token: ${{secrets.CODECOV_TOKEN}}
