
name: hosted_build_debian_armv7_cross

on:
  # Only run, when a pull request is merged.
  # Trick: A merged pull request always results in a push.
  push:
    branches: [ main ]
  workflow_dispatch:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: build
    runs-on: Ubuntu-20.04
    env:
      TARGET: armv7-unknown-linux-gnueabihf

    steps:

      - name: checkout
        uses: actions/checkout@v2

      - name: enable toolchain via github action
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ env.TARGET}}
          override: true

      - name: install cargo-deb
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: install
          args: cargo-deb

      - name: install cargo-strip
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: install
          args: cargo-strip

      - name: apt update
        run: sudo apt update

      - name: install cross compiler packages
        run: sudo apt install gcc-arm-linux-gnueabihf

      - name: build cross release for target
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          use-cross: true
          command: build
          args: --release --target=${{ env.TARGET }}

      - name: strip binaries (cargo deb fails to strip)
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: strip

      - name: build tedge debian package for target
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: deb
          args: -p tedge --no-strip --no-build --target=${{ env.TARGET }}

      - name: build c8y_mapper debian package for target
        uses: actions-rs/cargo@v1
        # https://github.com/marketplace/actions/rust-cargo
        with:
          command: deb
          args: -p c8y_mapper --no-strip --no-build --target=${{ env.TARGET }}

      - name: upload artifacts as zip
        # https://github.com/marketplace/actions/upload-a-build-artifact
        uses: actions/upload-artifact@v2
        with:
          name: debian-packages-armhf
          path: target/${{ env.TARGET }}/debian/*.deb


