name: integration-test-workflow

on:
  workflow_dispatch:
    branches: [ main, continuous_integration]
  workflow_run:
    workflows: ["build-workflow"]
    branches: [main, continuous_integration]
    types:
      - completed
env:
  CARGO_TERM_COLOR: always

jobs:

  install-amd64:
    runs-on: Ubuntu-20.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
        - name: checkout
          uses: actions/checkout@v2

        - name: Download artifact
          uses: dawidd6/action-download-artifact@v2
          # https://github.com/marketplace/actions/download-workflow-artifact
          with:
            github_token: ${{secrets.GITHUB_TOKEN}}
            workflow: build-workflow.yml
            workflow_conclusion: success
            branch: continuous_integration
            name: debian-packages-amd64
            path: debian-package_unpack

        - name: purge
          run: sudo dpkg -P mosquitto tedge tedge_mapper
          continue-on-error: true

        - name: install mosquitto
          run: sudo apt-get --assume-yes install mosquitto

        - name: install packages
          run: sudo dpkg -i ./debian-package_unpack/*.deb

        - name: run tedge help
          run: tedge --help

        - name: Download artifact
          uses: dawidd6/action-download-artifact@v2
          # https://github.com/marketplace/actions/download-workflow-artifact
          with:
            github_token: ${{secrets.GITHUB_TOKEN}}
            workflow: build-workflow.yml
            workflow_conclusion: success
            branch: continuous_integration
            name: examples_amd64
            path: examples

        - name: Run Smoke Test
          run: ./ci/ci_smoke_test.sh
          env:
            C8YPASS: ${{ secrets.SECRET_C8YPASS }}
            C8YUSERNAME: ${{ secrets.SECRET_C8YUSERNAME }}
            C8YTENANT: ${{secrets.SECRET_C8YTENANT}}
            C8YDEVICE: ${{ secrets.SECRET_C8YDEVICE }}_hosted
            C8YDEVICEID: ${{ secrets.SECRET_C8YDEVICEID_HOSTED }}

  install-rpi:
    runs-on: [self-hosted, Linux, ARM]
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
        - name: checkout
          uses: actions/checkout@v2

        - name: Download artifact
          uses: dawidd6/action-download-artifact@v2
          # https://github.com/marketplace/actions/download-workflow-artifact
          with:
            github_token: ${{secrets.GITHUB_TOKEN}}
            workflow: build-workflow.yml
            workflow_conclusion: success
            branch: continuous_integration
            name: debian-packages-armhf
            path: debian-package_unpack

        - name: purge
          run: sudo dpkg -P mosquitto tedge tedge_mapper
          continue-on-error: true

        - name: install mosquitto
          run: sudo apt-get --assume-yes install mosquitto

        - name: install packages
          run: sudo dpkg -i ./debian-package_unpack/*.deb

        - name: run tedge help
          run: tedge --help

        - name: Download artifact
          uses: dawidd6/action-download-artifact@v2
          # https://github.com/marketplace/actions/download-workflow-artifact
          with:
            github_token: ${{secrets.GITHUB_TOKEN}}
            workflow: build-workflow.yml
            workflow_conclusion: success
            branch: continuous_integration
            name: examples
            path: examples

        - name: Run Smoke Test
          run: ./ci/ci_smoke_test.sh
          env:
            C8YPASS: ${{ secrets.SECRET_C8YPASS }}
            C8YUSERNAME: ${{ secrets.SECRET_C8YUSERNAME }}
            C8YTENANT: ${{secrets.SECRET_C8YTENANT}}
            C8YDEVICE: ${{ secrets.SECRET_C8YDEVICE }}
            C8YDEVICEID: ${{ secrets.SECRET_C8YDEVICEID }}
